* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.carousel-inner, .carousel-item {
  /* width: 100%;
  max-height: 600px; */
  height: 400px;
}

.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000000;
  opacity: 0.5;
}

.carousel-inner a {
  background-color: #e2c42c;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}

.carousel-inner a:hover {
  background-color: #a58c0e;
  color: #ffffff;
}

.logo {
  width: 100px;
}

.navbar {
  font-family: "Lato", sans-serif;
  color: #000000 !important;
}

.nav-link {
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-link:hover {
  background-color: #e2c42c;
}
.nav-link:active {
  background-color: #e2c42c;
}

.btn-outline:hover {
  background-color: #a58c0e !important;
  color: #ffffff;
  border-color: #ffffff;
}

.lista-tooltip a {
  width: 250px;
  height: 166px;
  display: inline-block;
}

h2 {
  font-weight: bold;
}

h4 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #000000;
}

h5 {
  color: #000000;
}

.card-body a {
  display: block;
  margin: auto;
  background-color: #e2c42c;
  border: none;
}

.card-body a:focus {
  display: block;
  margin: auto;
  background-color: #e2c42c;
  border: none;
}

.card-body a:visited {
  display: block;
  margin: auto;
  background-color: #e2c42c;
  border: none;
}

.card-body a:hover {
  background-color: #a58c0e;
  border: none;
}

.vcenter-item {
  display: flex;
  align-items: center;
}

.titulo {
  font-style: italic;
}

.img-receta-home {
  width: 100%;
}

.yellow {
  background-color: #e2c42c;
  border: none;
  color: white;
}

.yellow:hover {
  background-color: #a58c0e;
  border: none;
  color: white;
}

footer {
  background-color: #000000;
  color: white;
}

footer a, footer a:visited, footer a:focus {
  color: #ffffff !important;
}

footer i {
  margin-right: 20px;
}

footer .nav-link {
  color: #ffffff !important;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}

.sin-padding {
  padding-left: 0;
  padding-right: 0;
}

.card {
  border-radius: 10px;
  padding: 8px;
}

.seccion-recom {
  margin-bottom: 40px;
}

p.precio {
  font-size: 30px;
}

.card {
  padding: 30px 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

input,
textarea,
button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  font-size: !important;
}

.img-receta {
  width: 100%;
}

.fecha {
  color: #a1a1a1;
}

@media (min-width: 768px) {
  .carousel-inner, .carousel-item {
    width: 100%;
    max-height: 600px;
    height: auto;
  }

  .carousel-inner img {
    width: 100%;
  }
}

/*# sourceMappingURL=style-s.css.map */
